# ======================================
# PROJECT SETTINGS
# ======================================
PROJECT_NAME=AI Audience Analytics Platform
PROJECT_VERSION=1.0.0
DEBUG=True

# ======================================
# DATABASE
# ======================================
DATABASE_URL=postgresql://postgres:password@localhost:5432/audience_analytics

# ======================================
# TMDB API
# ======================================
TMDB_API_KEY=f9b0af568097617dc117592d3ae56482
TMDB_READ_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJmOWIwYWY1NjgwOTc2MTdkYzExNzU5MmQzYWU1NjQ4MiIsIm5iZiI6MTc4MjIyNDQ5OC4zMTksInN1YiI6IjZhM2E5NjcyODk4ZmZlNTRiZjg0YzIxNiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.tafhmVAI2wfX579yWYDE9TOoE-RfSlCMAv4ianqGzks

# ======================================
# AWS
# ======================================
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-south-1

# ======================================
# LOGGING
# ======================================
LOG_LEVEL=INFO